<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNykXm3Kf0YxN1trhFA4L6ZamooIyB12w</string>
	<key>GCM_SENDER_ID</key>
	<string>441545590708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.quickcart</string>
	<key>PROJECT_ID</key>
	<string>quick-cart-1b41e</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-cart-1b41e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441545590708:ios:2488f119f7b628fbe394e1</string>
</dict>
</plist>